@font-face {
    font-family: IRANSans;
    src: url('../fonts/IRANSansFaNum.eot') format('eot');
    src: url('../fonts/IRANSansFaNum.ttf') format('ttf');
    src: url('../fonts/IRANSansFaNum.woff') format('woff');
    src: url('../fonts/IRANSansFaNum.woff2') format('woff2');
}

*{
    direction: rtl;
    text-align: right;
    font-family: IRANSans;
}

.bg-gray{
    background-color: #404E67;
    color: #dcdcdc;
}

.pointer{
    cursor: pointer;
}

.bg-custom-yellow{
    background: -webkit-gradient(linear, left top, right top, from(#feb798), to(#fe9365));
    background: -moz-linear-gradient(left, #feb798, #fe9365);
    background: linear-gradient(to right, #feb798, #fe9365);
}

.bg-custom-green{
    background: -webkit-gradient(linear, left top, right top, from(#0df3a3), to(#0ac282));
    background: -moz-linear-gradient(left, #0df3a3, #0ac282);
    background: linear-gradient(to right, #0df3a3, #0ac282);
}

.bg-custom-pink{
    background: -webkit-gradient(linear, left top, right top, from(#fe909d), to(#fe5d78));
    background: -moz-linear-gradient(left, #fe909d, #fe5d78);
    background: linear-gradient(to right, #fe909d, #fe5d78);
}

.bg-custom-blue{
    background: -webkit-gradient(linear, left top, right top, from(#01dbdf), to(#01a9ac));
    background: -moz-linear-gradient(left, #01dbdf, #01a9ac);
    background: linear-gradient(to right, #01dbdf, #01a9ac);
}



